.header {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header-logo {
  animation: header-logo-spin infinite 20s linear;
  height: 60px;
}

.header-overheader {
  position: relative;
  z-index: 0;
  background-color: #520e0e;
  background-image: -webkit-linear-gradient(180deg, #520e0e, brown 98%);
  background-image: linear-gradient(180deg, #520e0e, brown 98%);
  height: 30px;
  margin-bottom: -20px;
}

.header-header {
  position: relative;
  z-index: 1;
  background-color: brown;
  height: 20px;
  color: cornsilk;
  margin-top: 20px;
}

.header-title {
  font-style: oblique;
}

.header-subheader {
  position: relative;
  z-index: 0;
  background-color: #520e0e;
  background-image: -webkit-linear-gradient(180deg, brown, #520e0e 98%);
  background-image: linear-gradient(180deg, brown, #520e0e 98%);
  height: 30px;
}

@keyframes header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
